<footer class="footer">
  <div class="text-center">
    <small class="copyright">
      <a href="http://www.johnmollberg.com" target="_blank">
        John Mollberg
      </a>
      (c) 2018
    </small>
  </div>
</footer>
