{% if site.data.professional-projects %}
<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Professional Projects
  </h2>
  {% for project in site.data.professional-projects %}
  <div class="item">
    <div class="row">
      <div class="col-xs-12">
        <span class="project-title">
          {% if project.link %}
          <a href="{{ project.link }}">
            {{ project.title }}
          </a>
          {% else %}
            {{ project.title }}
          {% endif %}
        </span>
        {% if project.tagline %}
        - <span class="project-tagline">{{ project.tagline }}</span>
        {% endif %}
      </div>
    </div>
    {% if project.bullets %}
    <ul class="row">
      {% for bullet in project.bullets %}
      <li class="col-sm-10 col-sm-offset-1">{{ bullet }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div><!--//item-->
  {% endfor %}
</section><!--//section-->
{% endif %}

{% if site.data.personal-projects %}
<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Personal Projects</h2>
  {% for project in site.data.personal-projects %}
  <div class="item">
    <div class="row">
      <div class="col-xs-12">
    <span class="project-title">
      {% if project.link %}
      <a href="{{ project.link }}" target="_blank">
        {{ project.title }}
      </a>
      {% else %}
        {{ project.title }}
      {% endif %}
    </span>
        {% if project.tagline %}
        - <span class="project-tagline">{{ project.tagline }}</span>
        {% endif %}
      </div>
    </div>
    {% if project.bullets %}
    <ul class="row">
      {% for bullet in project.bullets %}
      <li class="col-sm-10 col-sm-offset-1">{{ bullet }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div><!--//item-->
  {% endfor %}
</section><!--//section-->
{% endif %}
