{% if site.data.skills %}

{% assign max_height = 10 %}

{% assign categories = site.data.skills | map: 'category' | uniq %}

<section class="skills-section section">
  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
  <div class="row">
    {% for category in categories %}
    {% assign skill_names_in_category = '' | split: '%' %}
    {% assign joined = skill_names_in_category | join: ', ' %}
      {% for skill in site.data.skills %}
        {% if skill.category == category %}
          {% assign singleton = skill.name | split: '%' %}
          {% assign skill_names_in_category = skill_names_in_category | concat: singleton %}
        {% endif %}
      {% endfor %}
      <div class="skillset col-xs-12 col-sm-6 col-lg-4">
        <h1>{{ category }}</h1>
        <div class="row">
          {% assign category_skills_count = skill_names_in_category | size %}
          {% assign extra_list_item_count = category_skills_count | modulo: max_height %}
          {% assign base_count = category_skills_count | minus: extra_list_item_count %}
          {% assign list_count = base_count | divided_by: max_height %}
          {% if extra_list_item_count > 0 %}
            {% assign list_count = list_count | plus: 1 %}
          {% endif %}

          {% assign max_items_per_list = category_skills_count | divided_by: list_count %}

          {% assign css_width = 12 | divided_by: list_count %}
          {% for i in (1..list_count) %}
            {% assign current_list = i | minus: 1 %}
            {% assign base = current_list | times: max_items_per_list %}
            <ul class="col-xs-{{ css_width }}">
              {% assign iter_max = max_items_per_list | minus: 1 %}
              {% for j in (0..iter_max) %}
                {% assign index = base | plus: j %}
                <li>{{ skill_names_in_category[index] }}</li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}
